@import "medicalCareStyle/variables";
.aa{
  color:blue;
  font-size: 20px;

  .bb{
    color:red !important;
    font-size: 30px;
  }
}



//电视墙的样式begin----------------------------------------------------------------------------------------------------------------------

$red-base:#ff2f6f;

*{
  margin: 0;
  padding:0;
}

.body-wrapper{
  position: relative;
  width:1920px;
  height:1080px;
  overflow: hidden;
}

.background-img{
  position: absolute;
  left:0;
  right:0;
  top:0;
  bottom: 0;
}


.background-img-circle{
  position: absolute;
  left: 50%;
  margin-left: -558px;
  top: 0;
  bottom: 0;
}


.background-img-line{
  position: absolute;
  left:0;
  top:0;
  bottom:0;
  right:0;
}

//-----闪烁的红点begin



.red-twinkle{
  position: absolute;
  animation: fadeIn 1s  ease-in-out;
  animation-fill-mode: both;
}

$circle-number:30 !default;
@for $i from 1 through $circle-number{
  .red-twinkle:nth-child(#{$i}){
    animation-delay: 1+$i*0.2s;
  }
}



.red-twinkle-wrapper{
    position: relative;
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 100px;
    text-align: center;
  .red-circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $red-base;
    display: inline-block;
    margin-top: 45px;
  }
  .center-circle{
    position: absolute;
    width: 32px;
    height: 32px;
    background-color: rgba(255, 47, 111, 0.4);
    border: 4px solid rgba(255, 47, 111, 0.8);
    border-radius: 50%;
    top: 50%;
    margin-top: -20px;
    left: 50%;
    margin-left: -20px;
    box-shadow: 0 0 30px rgba(255, 47, 111, 0.8);
  }
  .center-circle-animate{
    @extend .center-circle;
    box-shadow: none;
    background-color: transparent;
  }
  .scaleOut{
    animation: scaleOut 1.3s infinite ease-in-out;
  }
  .outer-circle{
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: rgba(255, 47, 111, 0.3);
    border: 5px solid rgba(255, 47, 111, 0.5);
    border-radius: 50%;
    top: 50%;
    margin-top: -40px;
    left: 50%;
    margin-left: -40px;
    box-shadow: 0 0 50px rgba(255, 47, 111, 0.8);
  }
  .outer-circle-animate{
    @extend .outer-circle;
    box-shadow: none;
    background-color: transparent;
  }
}

.rotate-net-round{
  animation: rotate 40s infinite linear;
}

.scaleOut-background{
  animation: scaleOut-background 1s  ease-in-out;
}

.scaleOut-background-map{
  animation: scaleOut-background-map 1s  ease-in-out;
  animation-fill-mode: both;
  animation-delay: 0.5s;
}






//动画
@keyframes scaleOut {
  0%{
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
  80% {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    opacity: 0;
  }
  81%{
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  100%{
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 1;
  }
}

@keyframes rotate{
  0%{
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }

  100%{
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

@keyframes scaleOut-background{
  0% {
    opacity: 0;
    transform: scale(0.1);
    -webkit-transform:scale(0.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    -webkit-transform:scale(1);
  }
}

@keyframes scaleOut-background-map {
  0% {
    opacity: 0;
    transform: scale(0.1);
    -webkit-transform:scale(0.1);
  }
  80%{
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    -webkit-transform:scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

//-----闪烁的红点end


//电视墙的样式end------------------------------------------------------------------------------------------------------------------------------


//空心的时间轴样式begin-----------------------------------------------------------------------------------------------------------------------

body{
  background: #000;
}

.privilege-list{
  display: table;
  width: 100%;
  padding-top:3px;
  li{
    display: table-cell;
    text-align: center;
    position: relative;
    width: 12.5%;
    vertical-align: middle;
    line-height: 1;
    .circle{
      border:2px solid rgba(255,255,255,0.3);
      border-radius: 50%;
      color: rgba(255,255,255,0.3);
      font-size: 12px;
      display: inline-block;
      width: 24px;
      height: 24px;
      box-sizing: border-box;
      text-align: center;
      line-height: 24px;
    }
    &:after{
      content: '';
      position: absolute;
      height: 2px;
      background-color:#736f6b;
      right:0;
      top:50%;
      margin: -1px;
      width : calc(50% - 11px);
    }
    &:before{
      content: '';
      position: absolute;
      width : calc(50% - 11px);
      height: 2px;
      background-color: #736f6b;
      left:0;
      top:50%;
      margin: -1px;
    }


    .privilege-name{
      position: absolute;
      left:0;
      right:0;
      text-align: center;
      font-size: 10px;
      color: rgba(255,255,255,0.7);
      //.rem-px(top,78);
      top:39px;
      //.prefix(transform,scale(0.9));
      transform: scale(0.9);
    }


    &.big{
      &:before,&:after{
        width: calc(50% - 17px);
      }
      .circle{
        width: 36px;
        height: 36px;
        //.line-height(67);
        //.font-size(32);
        line-height: 33px;
        font-size: 16px;
      }
    }
    &.white{
      .circle{
        color: #fff;
        border-color: #fff;
      }
    }
    &.red{
      .circle{
        background: red;
        color: #fff;
        border-color: #fff;
      }
    }
    &:first-child:before{width: 0;}
    &:last-child:after{width: 0;}
  }
}

//空心的时间轴样式end-------------------------------------------------------------------------------------------------------------------------
